body {
  font-family: "Arial", sans-serif;
  background-color: #fff;
  text-align: center;
}

.container {
  width: 900px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #fd90fd;
  margin-bottom: 20px;
}

.input {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #dfe6e9;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #dfe6e9;
  background-color: #fd90fd;
  color: #fff;
  cursor: pointer;
}

.task {
  background-color: #fceaff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  width: 100%;
  word-break: break-word;
}

.task strong {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
}

.task small {
  display: block;
  color: #888;
}

.task-controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.task-controls select {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.task-controls button {
  padding: 5px 10px;
  background-color: #fd90fd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-controls button:hover {
  background-color: #fc5dfc;
}

/* Tablet*/
@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: 30px auto;
    padding: 15px;
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }

  .input {
    flex-direction: column;
  }
  .task-controls {
    gap: 15px;
    
  }
  .task-controls button{
    width: 100%;
    padding: 10px 15px;
  }
  .task-controls select{
    text-align: center;
    width: 100%;
    padding: 10px 15px;
  }

}


@media (max-width: 767px) {
  .container {
    width: 95%;
    padding: 10px;
  }


  input[type="text"],
  button {
    width: 100%;
    font-size: 14px;
  }

  .input {
    gap: 10px;
  }

  .task {
    padding: 10px;
  }

  .task strong {
    font-size: 16px;
  }

  .task-controls {
    gap: 5px;
    
  }

}

